div#devices h1 {
    display: inline-block;
}

div#devices #arrows {
    float: right;
    margin: 7px 20px 0 0;
    display: none;
}

div#devices #arrows span {
    font-size: 1.5rem;
    margin-left: 5px;
    opacity: 0.5;
    cursor: pointer;
}

div#devices #arrows span:hover {
    font-size: 1.5rem;
    margin-left: 5px;
    opacity: 1;
}

.filter {
    display: inline-flex;
}

.filter p {
    display: inline-block;
    border-radius: 20px;
    font-weight: 700;
    margin-left: 10px;
    padding: 3px 10px;
    background-color: #f7f7f7;
    font-size: 0.9rem;
    cursor: pointer;
}

.filter p:hover {
    color: red;
}

div#devices p.active {
    background: #FFD93E;
}

div#dev-container {
    height: 75%;
    padding: 5px 0;
    overflow-y: hidden;
    white-space: nowrap;
}

div#dev-container::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

div#dev-container .tile {
    height: 100%;
    width: 20%;
    margin-left: 15px;
}

@media screen and (max-width: 767px) {
    .filter p {
        display: none;
    }

    #arrows {
        display: none!important;
    }

    div#devices p.active {
        display: block;
    }

    div#devices p.active:hover div#devices p {
        display: block;
    }

    div#dev-container {
        height: 80%;
    }

    div#dev-container .tile {
        width: 40%;
    }
}