@media screen and (min-width: 768px) {
    div#header {
        border-bottom: 1px solid #f7f7f7;
    }
    
    div#header ul {
        list-style: none;
        display: table-row;
    }
    
    div#header ul li {
        display: table-cell;
        vertical-align: middle;
        padding-left: 20px;
    }
    
    div#header ul li img {
        vertical-align: bottom;
        max-height: 30px;
        margin: 15px 20px 15px 0;
    }
    
    div#header ul li a {
        display: table-cell;
        vertical-align: middle;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 700;
        opacity: 0.5;
    }
    
    div#header ul li a.active {
        opacity: 1;
    }
    
    div#header ul li a:hover {
        color: red;
    }

    div.mobile {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    ul.desktop {
        display: none;
    }

    div.mobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: block;
        height: 40px;
        background: url("../assets/logo.svg") no-repeat left;
        background-size: auto 30px;
        margin-left: 15px;
    }

    div#burger {
        height: 40px;
        width: 40px;
        margin-right: 5px;
        background: url("../assets/burger.svg") no-repeat left;
        float: right;
        cursor: pointer;
    }

    ul#mobnav {
        position: fixed;
        top: 40px;
        left: 0;
        width: 100%;
        display: none;
        border-top: 1px solid #f7f7f7;
        border-bottom: 1px solid #f7f7f7;
        list-style: none;
        padding: 50px 0 20px 0;
        text-align: center;
        background-color: white;
        z-index: 3;
    }

    ul#mobnav li {
        margin-bottom: 30px;
    }

    ul#mobnav li a {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 700;
        opacity: 0.5;
    }

    ul#mobnav li a:active {
        color: red;
    }

    ul#mobnav li a.active {
        opacity: 1;
    }
}