#sce-container {
    height: 90%;
    width: calc(100% - 15px);
    margin-left: 15px;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: scroll;
}

div#sce-container::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

div#scenarios #sce-arrows {
    float: right;
    margin: 7px 20px 0 0;
    display: none;
}

div#scenarios #sce-arrows span {
    font-size: 1.5rem;
    margin-left: 5px;
    opacity: 0.5;
    cursor: pointer;
}

div#scenarios #sce-arrows span:hover {
    font-size: 1.5rem;
    margin-left: 5px;
    opacity: 1;
}

@media screen and (min-width: 768px) {
    #sce-container .tile {
        width: 30%;
        max-height: 29%;
        margin: 0 15px 15px 0;
        flex: 1 1 29%;
    }
}

@media screen and (max-width: 767px) {
    #sce-arrows {
        display: none!important;
    }
    
    #sce-container {
        width: 100%;
        height: 80%;
        padding: 5px 0;
        margin: 0;
        display: block;
        overflow-y: hidden;
        flex-wrap: nowrap;
        white-space: nowrap;
    }
    
    #sce-container .tile {
        height: 100%;
        width: 40%;
        margin: 0 0 0 15px;
    }
}