div#scenarios #sce-container {
    height: 90%;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin: auto auto;
    overflow-x: scroll;
    border: 1px solid yellow;
}

div#sce-container::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

#sce-container .tile {
    width: 32%;
    height: 31.5%;
    margin: 0 1% 1% 0;
}

div#scenarios #sce-arrows {
    float: right;
    margin: 7px 20px 0 0;
    display: none;
}

div#scenarios #sce-arrows span {
    font-size: 1.5rem;
    margin-left: 5px;
    opacity: 0.5;
    cursor: pointer;
}

div#scenarios #sce-arrows span:hover {
    font-size: 1.5rem;
    margin-left: 5px;
    opacity: 1;
}