.tile {
    border-radius: 20px;
    padding: 15px;
    background-color: #f7f7f7;
    position: relative;
    background-image: url("../assets/icon_temperature.png");
    background-position: 7px 15px;
    background-repeat: no-repeat;
    background-size: auto 2rem;
    display: inline-block;
    cursor: pointer;
}

.tile-info {
    position: absolute;
    bottom: 10px;
}

.tile h1 {
    font-size: 1rem;
    margin: 0;
}

.tile p {
    font-size: 0.9rem;
    color: #858585;
}

.one-tile {
    width: 100%;
}