.tile {
    border-radius: 20px;
    padding: 15px;
    background-color: #f7f7f7;
    position: relative;
    background-position: 7px 15px;
    background-repeat: no-repeat;
    background-size: auto 25%;
    display: inline-block;
    cursor: pointer;
    white-space: normal;
    z-index: 5;
    transition: all 0.5s ease-in-out;
}

div#modal-tile.tile {
    transform: translate(0, -150%);
    height: 40%;
    width: 50%;
    left: 22.5%;
    position: absolute;
    z-index: 7;
}

.tile:hover {
    background-color: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
}

.tile-info {
    position: absolute;
    bottom: 12px;
    pointer-events: none;
}

.tile h1 {
    font-size: 1rem;
    margin: 0;
}

.tile p {
    font-size: 0.9rem;
    color: #858585;
}